body {
    font-family: tt commons,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
    background: linear-gradient(180deg, #141e30, #243b55);
/*     background-image: url(./b1.jpg);*/
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      overflow-x: hidden;
}

.info-icon {
  transform: translateX(-10px);
}

.form-title {
  color: white;
  font-weight: bold;
  font-size: xx-large;
  transform: translate(220px, -86px);
}
.form-elm {

}
.form-elm input {
    padding: 12px;
    padding-right: 40px;
    margin: 14px 63px 20px 0px;
    border-radius: 10px;
    background-color: #3a3758;
    border: 0;
    box-shadow: 6px 6px 4px 2px rgb(0 0 0 / 30%);
    transition: .3s box-shadow;

}
.form-elm input:hover {
  background-color: #4d4a6d;
}

.form-elm label {
    font-size: 20px;
    color: white;
}

.form-grp textarea {
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    margin-top: 8px;
    margin-bottom: 4px;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 6%);
    height: 150px;
    width: 511px;
}

.form-container {
    
    max-width: 45%;
    width: 100%;
    margin-left: 26%;
    margin-top: 7%;
}

.form {
    background-color: rgba(0,0,0,.5);
    padding-left: 7vw;
    padding-top: 4vh;
    border-radius: 16px;
    width: 50vw;
    margin-top: -8vh;
    box-shadow: 0 15px 40px rgba(0,0,0,.6);
}
.form-back-btn {
    transform: translateX(-70px);
}

.form-next-btn {
    transform: translateX(360px);
}
.glow-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.glow-btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    font-size: 22px;
    letter-spacing: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.glow-btn span {
  position: absolute;
  display: block;
}

.glow-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.glow-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.glow-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.glow-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.form-grp {
    display: flex;
}